    <div class="site-wrapper">

      <div class="site-wrapper-inner skin-1">

        <div class="cover-container container">
          <div class= "albums">
            <section id="section-1" class="">

                  <div class="mediabox">

                     <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                    <div class="square">
                        <div class="effect-milo">
                          <div class="square-inner"></div><!--square-inner-->
                          <div class="caption">
                            <h2>Artist<span><%= params['search']['artist'] %></span></h2>
                            <p><small class="breathe">Hottness:92<br>Top Song<br>Song Name<br>More</small></p>
                            <!-- <a href="#">View more</a> -->
                        </div>    <!--caption--> 
                      </div><!--effect-milo-->
                    </div><!--square-->
                  </div><!--mediabox-->
                  
                </section>
          </div>
          
          <div class="content">
            <div class="inner cover grid cloud">
            <h3 class= "lead"><span class="pull-left">Listing: <%= params['search']['artist'] %></span><span class="pull-right"><script type="text/javascript"> document.write(Math.floor(Math.random()* 10000)+ 1)</script> results<span> 
            </h3>
          </div><!--inner-->
          <div id="tabs" class="tabs">
              <nav>
                <ul class="tab-browsing">
                  <li><a href="create.html" class="icon-1 text-uppercase breathe"><span>Artists</span></a></li>
                  <li><a href="#section-2" class="icon-2 text-uppercase breathe"><span>Genres</span></a></li>
                  <li><a href="#section-3" class="icon-3 text-uppercase breathe"><span>Albums</span></a></li>
                  <li><a href="songs.html" class="icon-4 text-uppercase breathe"><span>Songs</span></a></li>
                  <li><a href="#section-5" class="icon-5 text-uppercase breathe"><span>Playlists</span></a></li>
                </ul>
              </nav>
            
            </div><!--tabs-->
               <section id= "section-2">
                  <div class="mediabox">
                    <table>
                      <thead>
                        <tr>
                        <th>Artist  <sub><span class="glyphicon glyphicon-chevron-down orange-text"></span></sub></th>
                        <th>Songs<sub><span class="glyphicon glyphicon-chevron-down orange-text"></span></sub></th>
                        <th>Hotttness<sub><span class="glyphicon glyphicon-chevron-down orange-text"></span></sub></th>
                      </tr>
                      </thead>
                      <tbody>
                        <%  20.times do  %>
                        <tr>
                          <td><%= params['search']['artist'] %></td>
                          <td><%= params['search']['song'] %></td>
                          <td><%= params['search']['hotttness'] %></td>
                        </tr>
                        <%  end  %>

                      </tbody>
                    </table>
                  </div><!--mediabox-->
                </section>
              </div>

          
        </div><!--cover-container-->
         
      </div><!--site-wrapper-inner-->
    </div><!--site-wrapper-->
