 <div class="site-wrapper">

      <div class="site-wrapper-inner skin-1">

        <div class="cover-container container">

          <div class="content">
            <div class="inner cover grid cloud">
              <h3 class= "lead"><span class="pull-left">Listing: <%= params['search']['artist'] %> </span><span class="pull-right"><%= add_results  %> results<span> 
              </h3>
            </div><!--inner-->
            <div id="tabs" class="tabs">
              <nav>
                <ul class="nav nav-tabs">
                  
                  <li class='active'><%= link_to '#', :class=> 'text-uppercase breathe', :id => 'artist-tab', :onclick => 'showTab(this.id); return false;' do %>
                    Artists
                    (<%= @artists.count  %>)
                  <%  end  %>
                  </li>
                  <li ><%= link_to '#', :id => 'song-tab', :class=> 'text-uppercase breathe', :onclick => 'showTab(this.id); return false;' do %>
                    Songs
                    (<%= @tracks.count  %>)
                  <%  end  %>
                  </li>
                  <li><%= link_to '#', :id => 'album-tab', :class=> 'text-uppercase breathe',:onclick => 'showTab(this.id); return false;' do %>
                    Albums
                    (<%= @albums.count  %>)
                  <%  end  %>
                  </li>
                  <li><%= link_to '#', :id => 'genres-tab', :class=> 'text-uppercase breathe',:onclick => 'showTab(this.id); return false;' do %>
                    Genres
                    (<%= total_genres  %>)
                  <%  end  %>
                  </li>
                  <li><a href="#section-5" class="icon-5 text-uppercase breathe"><span>Playlists</span></a></li>
                </ul>
              </nav>

            </div><!--tabs-->
            <section id= "artist-tab" class="artist-tab">
              <div class= "artist">
                <div class="row">
                  <% count = 0 %>
                  <% @artists.each do  |artist| %>
                    <% count = count + 1 %>
                    <% if count > 6 %>
                      <div class="row">
                        <% count = 1 %>
                    <% end %>
                    <div class="result col-md-2">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <img src="http://placehold.it/150x150">
                        </div>
                        <div class="panel-body">
                          <strong><%= artist.name  %></strong><br><br>
                          <%  artist.songs.each do |song| %>
                            <em><%= song  %></em><br>
                          <% end if artist.songs.present? %>
                          <%= link_to url: {action: "create"}, search: artist.hotttnesss do %>
                            <%= artist.hotttnesss  %>
                          <% end %>
                        </div>
                        <div class="panel-footer text-left">
                          <%= @albums.count  %> <strong>albums</strong> 
                          <span class="pull-right"><%= @tracks.count  %> <strong>songs</strong></span>
                        </div>
                      </div>
                    </div><!--result-->
                    <% if count.eql?(6) %>
                      </div>
                    <% end  %>
                  <%  end  %>
                  <% if count > 5 %>
                    </div>
                  <% end %>
                </div> <!-- row -->
              </div><!--artist-->
            </section>

            <section id= "song-tab" class="hide">

              <div class= "song">
                <div class="panel panel-default">
                  <div class="panel-heading text-left">
                    <span class="glyphicon glyphicon-play"></span>
                    <div class= "progress"></div>
                    <div class= "song-title text-center"><%= @tracks.map(&:name).first%></div>
                    <span class="glyphicon glyphicon-volume-up"></span>
                    <div class="volume"></div>
                  </div><!--panel-heading-->
                  <table class="table">
                    
                    <% @tracks.map(&:name).each do |track| %>
                      <tr>
                       <td><%= track %></td>
                      </tr>
                    <%  end  %>  
                    <% @tracks.map(&:artist).each do |artist| %>
                      <tr>
                        <td><%= artist %></td>
                      </tr>
                    <%  end  %>  
                  </table><!-- Table -->
                </div><!--panel-->
              </div><!--song-->
            </section>

            <section id= "album-tab" class="hide">
              <div class= "album">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Albums
                  </div><!--panel-heading-->
                  <table class="table">
                    <%  @albums.map(&:name).each do |album|  %>
                      <tr>
                        <td><%= album  %></td>
                      </tr>
                    <%  end  %>  
                  </table><!-- Table -->
                </div><!--panel-->
            </section>

            <section id= "genres-tab" class="hide">
              <div class= "genres">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Genres
                  </div><!--panel-heading-->
                  <table class="table">
                    <% @artists.each do  |artist| %>
                      <% artist.genres.each do |g| %>
                        <tr>
                          <td><%=  g  %></td>
                        </tr>
                     <%  end if artist.genres.present?  %>  
                    <%  end  %>
                  </table><!-- Table -->
                </div><!--panel-->
              </div><!--genres-->
            </section>
