    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            
              <%= form_for :search, url: {action: "create"} do |f| %>
                <div class = "lead">
                  <h1 class="cover-heading">I want to hear</h1>

                    <%= f.text_field :artist, placeholder: "new artists" %>
                    <%= f.text_field :song, placeholder: "new songs" %>
                    <%= f.text_field :hotttness, placeholder: "what's hot" %>

                    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                     <i class="glyphicon glyphicon-chevron-right orange-text"></i> 
                    <% end %>
                  
              </div>

             <% end %>
          </div>

          
        </div>

      </div>

    </div>